.main {
  width: 100%;

  @media screen and (min-width: $desktop) {
    width: 1120px;
    margin-top: -63px;
  }

  &__title {
    margin: 24px 0 8px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 16px;
    }

    @media screen and (min-width: $desktop) {
      margin: 8px 0;
    }
  }
}
