.nav {
  font-size: 16px;

  &__list {
    @include list-reset;
    padding: 0.1px;
    margin: 32px 0;
  }

  &__item {
    margin-bottom: 29.5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    color: $color-text-body;
    padding: 4px 24px;
  }

  &__item--active &__link {
    border-left: 4px solid $color-border;
    padding-left: 20px;
    color: $color-text-hover;
  }

  &__item:hover &__link {
    color: $color-text-hover;
  }
}
