$tablet: 768px;
$desktop: 1366px;
$color-background-main: #f8f8f8;
$color-background-header: #ffffff;
$color-background-modal: #ffffff;
$color-background-menu-item: #ffffff;
$color-background-card: #ffffff;
$color-background-button: #ff3e79;
$color-border: #41f6d7;
$color-border-field: #eaeaea;
$color-text-placeholder: #b5b6bc;
$color-text-body: #1b1c21;
$color-text-page-menu: #7e7e82;
$color-text-hover: #7e7e82;
$color-text-h2: #7e7e82;
$color-text-ptice-title: #7e7e82;
$padding-body: 16px;
$padding-body-tablet: 24px;
$padding-body-desktop: 34px;
$padding-menu-sides: 24px;